---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>. Listed below are my publications as an undergraduate research assistant at Beihang University. In the first year of my PhD (2023 - 2024), I have submitted one journal paper on occluded object selection in virtual reality using LLM-assisted systems, one conference paper on interaction strategy analysis of an LLM-assisted scene editing system, and another conference paper on visual accessibility design for VR systems with LLM-assisted scene interpretation. As these papers are currently under anonymous review, details are not provided on this webpage.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



